body {
    background-color: rgb(179, 106, 106);
}
h1 {
    color:rgb(241, 233, 199);
    text-align: center;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h5 {
    color:rgb(241, 233, 199);
    text-align: center;
}
h4 {
    color:rgb(241, 233, 179);
    text-align: center;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.fancy-text {
  color: wheat;
  text-decoration: underline;
  text-decoration-color: wheat;
  text-align: right;
}
.fancy-text2{
    color: wheat;
    text-align: right;
    font-size: medium;
    border: 2px solid #d3d3d3;
    padding: 20px;

}
.bordered-box {
  border: 2px solid #d3d3d3;
  padding: 20px;
  display:inline-block;
  margin: 10px;
  border-radius: 90px;
}
.page-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
p {
    color:rgb(241, 233, 179);
    font-size: large;
}
.bordered-box2 {
  border: 2px solid #d3d3d3;
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: center;
  border-radius: 59px;
}
